html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 50px auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
  flex-direction: column;
}

header {
  margin: 0;
  background: rgb(1, 0, 88);
  height: 100px;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 200px;
  font-size: 20px;
  background-color: red;
  animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

button:hover {
  animation: none;
  background-color: green;
  cursor: pointer;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: green;
}

a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: green;
  transition: width 0.4s ease, left 0.4s ease;
}

a:hover::before {
  width: 100%;
  left: 0;
}

.ball{
  height: 70px;
  width: 70px;
  background-color: #2d2d2d;
  border-radius: 100%;
  margin-left: 2em;
  animation: bounce 5s linear infinite;
}
@keyframes bounce {
  0% { transform: translateY(0px);height: 70px;width: 70px; animation-timing-function:ease-in}
  39.5% { transform: translateY(600px);height: 60px;width: 70px }
  40% { transform: translateY(600px);height: 35px;width: 80px }
  41% { transform: translateY(600px);height: 60px;width: 70px; animation-timing-function: ease-out }
  59.5% { transform: translateY(200px);height: 70px;width: 70px}
  60% { transform: translateY(200px);height: 70px;width: 70px; animation-timing-function: ease-in}
  79% { transform: translateY(600px);height: 60px;width: 70px }
  80% { transform: translateY(600px);height: 50px;width: 74px }
  81% { transform: translateY(600px);height: 60px;width: 70px; animation-timing-function: ease-out }
  90% { transform: translateY(400px);height: 70px;width: 70px }
  91% { transform: translateY(400px);height: 70px;width: 70px; animation-timing-function: ease-in }
  97% { transform: translateY(590px);height: 66px;width: 70px }
  99% { transform: translateY(600px);height: 65px;width: 71px }
  100% { transform: translateY(600px);height: 70px;width: 70px }
}