body {
    background-color: rgb(60, 75, 160);
    font-family: Arial, sans-serif;
}

h1 {
    color: #f8f8f8;
}
h2 {
    color: #f8f8f8;
}
h3 {
    color: #f8f8f8;
}
p {
    color: #f8f8f8;
}
a {
    color: #000000;
}
.container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 20px; 
}